@page "/signout"
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@inject IHttpContextAccessor _context


<h1>Logout</h1>

@code {

    protected override Task OnInitializedAsync()
    {
        _context.HttpContext.SignOutAsync("Cookies").Wait();
        _context.HttpContext.SignOutAsync("oidc").Wait();
        _context.HttpContext.SignOutAsync().Wait();

        return base.OnInitializedAsync();
    }

}
